.mapSection {
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

.mapContainer {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}

.map_box {
    max-height: 800px;
}

.map_info {
    margin: 10px 20px;
    margin-bottom: 100px;
    padding-bottom: 40px;
}
.map_text {
    color: #ec4300;
}
